*{
    padding: 0;
    margin: 0;
    background-color: black;
}

html, body {
    height: 100%;
}

.box{
    margin-top: 150px;    
    width:250px;
    height: 250px;;
    background-color: green;
    color: rgb(13, 255, 0);
}
.box1{
    margin-top: 150px;    
    width:250px;
    height: 250px;;
    background-color: green;
    color: rgb(85, 0, 255);
}
